h1 {

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
}

p.texto {
  color: rgba(0, 0, 163, 0.459);
}

p.especial {
  color: steelblue;
  background-color: violet;
}



div h2, div h3 {
  color: brown;
}



/* esto es un comentario*/

.color {
  color: #ff0000;
}
  
.color {
  color: rgb(0, 225, 0);
}

.color {
  border: 5px black dashed;
}

.color {
  border: 5px rgb(245, 5, 5) inset;


/* 
dotted
dashed
solid
double
groove
ridge
inset
outset
none
hidden


desde groove hasta outset elementos tridimensionales
*/
border-style: solid;
border-color: blue;
border-radius: 5px;
border-width: 2rem;
}

#fondo {
     background-color: rgba(225, 0, 0);
     opacity: 0.3;
     height: 200px;
     background-image: url("Kats.jpg");
    
     
     background: #ff0000 url(Kats.jpg) repeat-y center  / 100px 100px ;
}

.margen {
  background-color: chocolate;
  margin: 15px 20px 25px 30px;
  padding: 30px 15px 5px;
  border: solid 1px black;
  height: 100px;
  width: 50px;
  overflow: scroll;
  outline: 1px solid red;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-decoration:overline;
  text-shadow: 3px 5px 5px blue;
}
 
.texto-nuevo
{
 color: black;
 text-shadow: 3px 5px 5px red
text-align: center;
}

.practice .descen {
  color: rgb(153, 23, 23);
  border: double red;
  text-align: center;
}




#mi-parrafo {
border: double blue;
  text-align: center;
color: red;
}

 {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a[href] {
  color: rgb(129, 14, 119);
  text-decoration: underline;
}

input[value="Ashley"] {
  font-weight: lighter;
}

img[src^="https://acortar.link/ei7L50"] {
  border: 1px solid rgb(77, 233, 77);
}

a[href$=".html"] {
  font-style: italic;
}

div[class*="importante"] {
  background-color: yellow;
}

a[class~=principal] {
  font-size: 18px;
  border: dotted;
}

.container > p {
  font-weight: bold;
  color: chartreuse;
}

h1 + p {
  margin-top: 0;
}

.container p ~ p {
  text-align: right;
}

a:link {
  color: blueviolet;
}

a:visited{
  color: rgb(116, 182, 79);

}

a:hover{
  color: rgb(230, 161, 72);

}

a:active{
  color: #ff0000;
}

ul{
  background-color: yellowgreen;
   list-style-type: georgian;  
    /* padding-left: 0;   */
/* list-style-position: inside; */
}

table{
  width: 100%;
border-collapse: collapse;
}

th,td {
  border: solid 1px blue;
  padding: 5px;
}

th{
  background-color: tomato;
  color: antiquewhite;
  text-align: left;

}

tr:hover{/* Al pasar el cursor cambia de color */
  background-color: aquamarine;
cursor: pointer; /* Icono de manito al pasar el cursor */
}

tr:nth-child(even){/* Marca de color las celdas impares */
  background-color: #eee;
}

span{
   display: block; /* Crea un salto de linea */
 /*  display: none; *//* ocultar elemntos */
 /*  visibility: hidden ; */
 max-width: 300px; /* ancho maximo */
 background-color: #ff0000;
}

.inline{
  display: inline;/* los elementos quedan en una misma linea */
}

#position{
 /*  position: fixed; *//* Se mueve con todo el documento */
 /* position: absolute; *//* se posiciona relativa con el elemento padre mas cercano */
 position: sticky;/* mezcla entre relative y fixed */
  left: 20px;
 top: 25%; 
}
.left{
  float: left;/* toma el elemento y lo hace flotar a la izquierda */
  width: 200px;
  height: 200px;
}

.right{
  float: right;
}


.container{
  height: 200px;
}

.column{
  margin: 0 ;
  padding: 10px 0px;
  width: 33.3%;
}

.inline-block{
  display: inline-block;/* a esta propiedad no se le puede agregar height ni weight */
  height: 55px;
  background-color: red;
}

.center{
  padding: 50px 0;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  background-color: aqua;
}